.container {
	background: tan;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}
.row {
	background: transparent;
    width: 100%;


}

.row:after {
    content: " ";
    display: table;
    clear: both;
}


.column.one-half{
	background: blue;
	width: 50%;
	height: 50px;
	padding: 25px;
	margin: 25px;
	border: dotted;
    
}



.column.one-third{
	background: black;
	width: 33.33%;
	padding: 25px;
	margin: 25px;
	border: dotted white;

}

.column.one-fourth{
	background: green;
	width: 25%;
	padding: 25px;
	margin: 25px;
	border: dotted;
}

.column.one-sixth{
	background: gold;
	width: 16.66%;
	padding: 25px;
	margin: 25px;
	border: dotted;
}

.column.one-eighth{
	background: pink;
	width: 12.5%;
	padding: 25px;
	margin: 25px;
	border: dotted;
}


/*.column.one-third {
	background: green;
    width: 33.33%;
}
.column.one-half {
	background: brown;
    width: 50%;
}*/