
*{
	box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;
}
.row {
    width:100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 10px;
}
.column.one-half {
	background: gold;
    width: 50%;
}
.column.one-third {
	background: red;
    width: 33.33%;
}


.column.one-fourth{
	background: salmon;
	width: 25%;
}

.column.one-sixth{
	background: grey;
	width: 16.66%
}
.column.one-eighth{
	background: teal;
	width: 12.5%;
}







